trigger:
  - main

pool:
  vmImage: 'ubuntu-latest'

steps:
  - task: JavaToolInstaller@0
    inputs:
      versionSpec: '17'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

  - script: mvn clean package -DskipTests
    displayName: 'Build com Maven'

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: 'target/*.jar'
      ArtifactName: 'drop'
      publishLocation: 'Container'
